<button onclick="window.location.href='/articulos'">Listado de artículos</button>

<h2>Alta de artículos</h2>
<form action="/articulos/altaArticulo" method="POST" id="nuevoArticulo" enctype="multipart/form-data">

    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" required>

    <label for="precio">Precio</label>
    <input type="number" name="precio" id="precio" step=".01" required>

    <label for="imagen">Foto</label>
    <input type="file" name="imagen" id="imagen" accept="image/*">

    <input type="submit" value="Alta">

</form>

{{#if error}}
    <script>alert("{{error}}")</script>
{{/if}}