<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf8">
        <title>{{title}}</title>
    </head>

    <body>
        <header style="background-color: palegreen">
            <h2>Tienda bonita</h2>
        </header>
        {{{body}}}
    </body>
</html>