<button onclick="window.location.href='/'">Menú</button>
<button onclick="window.location.href='/articulos'">Artículos</button>

<h2>Menú clientes</h2>
<button onclick="window.location.href='/clientes/alta'">Alta</button>
<button onclick="window.location.href='/clientes/listado'">Listado</button>

